<h1>Let's play Rock Paper Scissors</h1>
<img src="/assets/download.jpg" alt="">
<form action="/rock_paper_scissors/result">
<button name="id" value="rock">Rock</button> 
<button name="id" value="paper">Paper</button> 
<button name="id" value="scissors">Scissors</button>
</form>