<h1>OMG! You catch a new pokemon</h1>


<form action="/pokemons" method="post">
     <label for="">
          Name:
         <input name ="name" placeholder="Enter the name" required>
     </label>
     <label for="">
          Category:
         <input name ="category" placeholder="Skipper" >
     </label>
      <label for="">
          Abilities:
         <input name ="abilities" placeholder="Skipper" >
     </label>
     <label for="">
          Image:
         <input type ="url" name="image" placeholder="http://..." >
     </label>
</br>
     <button >Catch Pokemon</button>

</form>
