
<div class="container-home">
    <img class="img-home"src="/images/projector.jpg" alt="Movie projector">
    <div class="container-home-links">
        <p class="home-links"><a href="/directors">All Directors</a></p>
        <p class="home-links"><a href="/movies">All Movies</a></p>
    </div>
</div>
