<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Books home</title>
  </head>
  <body>
    <h2>Book catalogue</h2>
    <form action="/result">
      <input name="title" placeholder="Jaws.." required />
      <button>Submit</button>
    </form>
  </body>
</html>
