body {
  background-color: whitesmoke;
}

#container {
  padding: 0 10% 0 10%;
}

nav {
  width: 100%;
  background-color: black;
  border-top: dashed #999 1px;
  border-bottom: dashed #999 1px;
  display: block;
}

nav ul li {
  display: inline-block;
  padding: 0;
}

nav li a {
  display: block;
  width: 80px;
  color: white;
  text-decoration: none;
}

#logo {
  margin-top: 25px;
  margin-bottom: 25px;
}

#socialMedia {
  float: right;
}

#socialMedia ul li {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: blue;
  text-indent: -9999em;
}

#socialMedia ul li.linkedIn {
  background: url(../images/socialNav.png) 0px 64px;
}
#socialMedia ul li.twitter {
  background: url(../images/socialNav.png) -60px 64px;
}

#socialMedia ul li.facebook {
  background: url(../images/socialNav.png) -120px 64px;
}

#socialMedia ul li.rss {
  background: url(../images/socialNav.png) -180px 64px;
}

#socialMedia ul li.linkedIn:hover {
  background: url(../images/socialNav.png) 0px 0px;
}

#socialMedia ul li.twitter:hover {
  background: url(../images/socialNav.png) -60px 0px;
}

#socialMedia ul li.facebook:hover {
  background: url(../images/socialNav.png) -120px 0px;
}

#socialMedia ul li.rss:hover {
  background: url(../images/socialNav.png) -180px 0px;
}

#bannerimage {
  width: 100%;
  background-image: url(../images/photobanner.png);
  height: 450px;
  background-repeat: no-repeat;
  background-position: center;
}
