<h1>Enter New SLS Pro</h1>

<form action="/skaters" method="post">
    <label>
        First Name:
        <input name="first_name" placeholder="first name" required>    
    </label>
    <label>
        Last Name:
        <input name="last_name" placeholder="last name" required>    
    </label>
    <label>
        Year born:
        <input type="integer" name="birthyr" placeholder="year of birth">    
    </label>
    <label>
        Location:
        <input name="location" placeholder="location">    
    </label>
    <label>
        description:
        <input name="description" placeholder="about goes here">    
    </label>
    <label>
        Image:
        <input type="url" name="image" placeholder="http....">    
    </label>
    <button>Submit</button>
</form>