<h2>Rock, Paper, Scissors</h2>
    <p>SHOOT!</p>

<form action="/rps/results">
    <button name="player" value='rock'>Rock</button>
    <button name="player" value='paper'>Paper</button>
    <button name="player" value='scissors'>Scissors</button>
</form>