<h2>Secret Number</h2>
<form action="/secretnumber/results">
    <label>
        <p>Guess my number(1-10), you pleb:</p>
        <input type="number" name="guess" min="1" max="10" required>
    </label>
    <button>Guess, I guess...</button>
</form>