<h1 class="title">regiter a new director</h1>

<form action="/directors" method="post">
    <label>FIRST NAME</label>
    <input class="name" name="firstname" placeholder="Damien" required>

    <label>MIDDLE NAME</label>
    <input class="name" name="middlename" placeholder="">

    <label>SURNAME</label>
    <input class="name" name="surname" placeholder="Chazelle">

    <label>BIRTH DATE</label>
    <input class="name" name="birthdate" placeholder="1985-01-19">

    <label>BIRTHPLACE</label>
    <input class="name" name="birthplace" placeholder="United States">


    <div class="button">
        <button>ADD NEW DIRECTOR</button>
    </div>
</form>