@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Montserrat&display=swap");
body {
  background-color: rgb(198, 231, 213);
  font-family: "Montserrat", sans-serif;
}

.container {
  margin: 20px auto;
  text-align: center;
  max-width: 960px;
  padding: 1em;
  min-height: 90vh;
}

h1 {
  font-family: "Lilita One", cursive;
  font-size: 4em;
  color: rgb(214, 111, 111);
}

.book-list {
  font-size: 2em;
}

a {
  color: #9a77d1;
  font-size: 1em;
}

nav {
  text-align: right;
}

.item-list {
  font-size: 1.5em;
  color: #d89167;
}

.author-img {
  width: 300px;
}

input {
  font-size: 1em;
  font-family: "Montserrat", sans-seri;
}

.author {
  font-size: 1.5em;
  color: rgb(206, 136, 108);
}

.genre {
  font-size: 1.25em;
}

.bio {
  padding: 0 15%;
  line-height: 1.5em;
}

button {
  display: inline-block;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9em;
  font-weight: bold;
  padding: 1px 5px;
  text-decoration: none;
  margin-left: 10px;
  border-radius: 5px;
}
button:hover {
  background: linear-gradient(to bottom, #af8a8a 5%, #c55f5f 100%);
  background-color: #c55f5f;
  color: #ffffff;
  cursor: pointer;
}

.controls {
  margin-top: 25px;
}

.edit-control,
.delete-control {
  margin-right: 25px;
  font-size: 1.25em;
  color: #f1967a;
}
