<h1 class="magic"><img src="/assets/magic8.jpg" alt="magic 8"></h1>

<form action="/magic/results" class="magic_fortune">
    <label>
        Ask a yes or no question!
        <input class="magic_button" name="question" placeholder="Is this the real life?" required>
    </label>    

    <button class="magic_button glow-on-hover">Fortune, please!</button>
</form>


<div class="ball">
    <div class="eight">
    8
    </div>

</div>