<h1 class="magic"><img src="/assets/magic8.jpg" alt="magic 8"></h1>

<h3 class="magic_question"> <%= @question %></h3>


<div class="ball">
    <div class="eight_answer">
        <div class="triangle">
        </div>
      
    </div>

    <div class="fortune_answer">
       <%= @fortune %>
    </div>
</div>

<a href="/magic"><button class="glow-on-hover">Ask Again</button></a>