<h1>ROCK PAPER SCISSORS</h1>

<form action="/rock/results">
    <button name="value" value="rock">ROCK</button> |
    <button name="value" value="paper">PAPER</button> |
    <button name="value" value="scissors">SCISSORS</button> 
</form>