

<form action="/book">
    <h1> Book Info Search</h1>
    <p> Search by title:</p>

    <label>
        <input name="title" placeholder="Example: Jaws" required>
    </label>

    <button>Search!</button>

</form>