<h1>Rock Paper Scissors</h1>
<h3>Please select one</h3>
<div class="display">
<button><a href="/games/rockpaperscissors/rock">Rock</a></button>
<button><a href="/games/rockpaperscissors/paper">Paper</a></button>
<button><a href="/games/rockpaperscissors/scissors">Scissors</a></button>
</div>
