<h1>Rock Paper Scissors</h1>
<div class="rpc_results">
    <p>you choose: <%= params[:throw].capitalize %></p>
    <p>computer choose: <%= @server_pick%></p>
    <p>Result: <%= @result %></p>
    <button><a href="/games/rockpaperscissors">Play again</a></button>
</div>

