<h1>Rails on Game</h1>

<h3>Choose a game</h3>

<form action="/magic">
    <button>Magic 8 Ball</button>
</form>

<form action="/secret">
    <button>Secret Number</button>
</form>

<form action="/rock">
    <button>Rock Paper Scissors</button>
</form>