<h1>Add your favorite director</h1>


<form action="/directors" method="post">
     <label for="">
          Name:
         <input name ="name" placeholder="Enter the name" required>
     </label>
</br>
     <button >Add</button>
</form>