<h2>The Magic (8) Ball</h2>
<form action="/eightball/fortune">
    <label>
        <p>Ask a yes/no question...</p>
        <input type="text" name="question" placeholder="Do I stank?">
        <button>Foretell Prophecy...</button>
    </label>
</form>