<h1>Ask the Magic 8 Ball</h1>

<form action="/balls/answer">
    <label>
        <input name="question" placeholder="Will I complete tonight's homework?" required>
    </label>

    <button>Shake</button>

</form>