<h1>New dog</h1>


<form action="/dogs" method="post">

    <label>
          name:
        <input name="name" placeholder="Red dog" required>

        </label>
     <label>

    family:
        <input name="breed" placeholder="pitbull">

    </label>

    <label>

    image:
    <input type="url" name="image" placeholder="http://...">

    </label>

<button> create a dog</button>

    </form>