<h1>New Director</h1>

<form action="/directors" method="post">

    <ul>
        <li>
            <label>
                <span> Name:</span> 
                <input name="name" placeholder="Quentin Tarantino" required>
            </label>
        </li>

        <li>
            <label>
                <span>Country:</span>
                <input name="country" placeholder="United States">
            </label>
        
        </li>

        <li>
            <label>
                <span>Image:</span>
                <input type="url" name="image" placeholder="http://...">
            </label>
        </li>

    </ul>
    <button>Create Director</button>

</form>