body {
    background-color: rgb(92, 148, 212);
}

.container {
    padding: 50px;
    background-color: rgba(238, 126, 20, 0.719);
    max-width: 960px;
    margin-top: 30px;
    margin: 0 auto;
    text-align: center

    
}

nav {
    overflow: hidden;
    background-color: aliceblue;
    text-align: right;
    position: fixed;
    top: 0;
    width: 100%;
}

.feature {
    max-width: 100%;
}