<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search for a word</title>
</head>
<body>
    <h1>Enter a word:</h1>
    <form action="/result">
        <label>
            <input type="search" placeholder="Maudlin" name="search" required>
        </label>
        <button>WordSearch</button>
    </form>
</body>
</html>