<h1>Book search</h1>
<form action="/info">
    <label>
        Type Book title:
        <input name="title" placeholder='The Very Hungry Caterpillar' required>
    </label>
    <button>Find book info</button>
</form>
