<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex Display</title>
</head>
<body>
    <h2><%= name %> (<%= id %>)</h2>
    <%= flavor_text_entries[0].flavor_text %>
    <h3>habitat:</h3>
    <%= habitat.name %>
</body>
</html>
