<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is bookland</title>
    <link rel="stylesheet" href="/css/book.css">
</head>
<body>
<%= yield %>
<div class="container">


<nav><a href="home.erb">Another</a>    </nav>



    


</div>
</body>
</html>