<h1>Rock Paper Scissors</h1>

<h2>You will be playing with computer.</h2>

<h3>Chooose a throw:</h3>

<a href="/rockpaperscissors/result/rock">Rock</a>
<a href="/rockpaperscissors/result/paper">Paper</a>
<a href="/rockpaperscissors/result/scissors">Scissors</a>


