<form action="/book_query_result">
        <label>
            Input your book:
            <input name="book" required></input> 
                    <button id="button">Find it!</button>
        </label>

        
</form>