<h2>New Mountain</h2>

<form action="<%= mountains_path%>" method="post">
    <label>
        Name:
        <input name="name" required placeholder="Himalaya">
    </label>
    <label>
        Height:
        <input type="number">
    </label>

    <button>New Mountain</button>

</form>