<h1>Add Digimon Data</h1>

<form action="/digimons" method="post">
    <label>Name<input name="name" placeholder="Pikachu" required></label>
    <label>Type<input name="type" placeholder="Mouse" required></label>
    <label>Stage <input name="stage" placeholder="Rookie" required></label>
    <label>Image <input type="url" name="image" placeholder="http://..." required></label>

    <button>Add data</button>
</form>