<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plant Library</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/plants">All plants</a>
        <a href="/plants/new">New plants</a>
       </nav>
       
    <div class="container">
       

        <%= yield %>
        
    </div>
</body>
</html>