<h1>New Plant</h1>



<form action="/plants" method="post">
    <ul>
    <li>
        <label>
            Name:
            <input name="name" placeholder="Mother of Pearls" required>
        </label>
    </li>
    <li>
        <label>
            Scientific Name:
            <input name="scientific" placeholder="Senecio Rowleyanus">
        </label>
    </li>
    <li>
        <label>
            Family:
            <input name="family" placeholder="Asteraceae">
        </label>
    </li>
    <li>
        <label>
            Season:
            <input name="season" placeholder="Summer">
        </label>
    </li>
    <li>
        <label>
            Image:
            <input type="url" name="image" placeholder="http://...">
        </label>
    </li>
    </ul>

    <button>Create Plant</button>

</form>