<h1> Welcome to Japanese Kamon world</h1>

<p>Japanese Unique Emblem System
The term "Kamon" refers to a crest used in Japan to indicate one's origins; that is, one's family lineage, blood line, ancestry and status from ancient times. It is also referred to simply as “Mondokoro” or “Mon”. It is said that there are more than 20,000 distinct individual Kamon in Japan.</p>