<h1>New Kamon</h1>

<form action="/kamons" method="post">
    <label>
    Name:
    <input name="name" placeholder="Dakimyouga" required>
    </label>
    <label>
    Meaning:
    <input name="meaning" placeholder="happiness">
    </label>
    <label>
    Image:
    <input type="url" name="image" placeholder="http://">
    </label>
    
    <button>Create Kamon</button>

</form>