<h1>New Plant</h1>

<form action="/plants" method="post">
    <label>
    Name:
    <input name="name" placeholder="Myoga" required>
    </label>
    <label>
    Image:
    <input type="url" name="image" placeholder="http://">
    </label>
    
    <button>Create Plant</button>

</form>