<h1>Welcome to Games on Rails</h1>

<h2>Which game do you want to play?</h2>


<p><a href="/magic">Magic 8 Ball</a></p>
<p><a href="/secret_number">Secret Number</a></p>
<p><a href="/rock_paper_scissors">Rock Paper Scissors</a></p>