<form action="/output">

    <label>
        Book Title:
        <input type="text" name="title" placeholder="Moby deeeek" required>
        <button>Search Book</button>
    </label>
    
</form>