<h1>
    NEW POKEMON
</h1>
<form action="/pokemons" method="post">
    <label>
        Name:
        <input name="name" placeholder="Pikachu" required>
    </label>
    <label>
        Regions:
        <input name="regions" placeholder="JOHTO KALOS" >
    </label>
    <label>
        Image:
        <input type="url" name="image" placeholder="http://" >
    </label>
    <button>Create Pokemon</button>


</form>