<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Anime Information</title>
</head>
<body>
     <img src="/css/images/collage.jpg" alt="Image Coming Soon">

</div>
    <div class="container">

       
        <nav>
        
        
        
        
    
    
    

        </nav>
        <%= yield %>
    </div>
    
</body>
</html>