@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

body {
    background-color: #f4f2e9;
    background-image: url('../img/img_movies.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.container-home {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50vh;
    color: #FDCCCC;
}

.title-home {
    font-size: 70px;
}

.title {
    color: #FDCCCC;
    font-size: 40px;
    margin-top: 30px;
}

.link-home {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #ABD7E6;
    font-size: 17px;
}

.link-index {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: white;
    font-size: 12px;
}

.link-show {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #ABD7E6;
    font-size: 12px;
    padding-right: 4em;
}

.list-index{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #ABD7E6;
    font-size: 20px;
    line-height: 2em;
}

.list-show {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: white;
}

button {
    background-color: #ABD7E6;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    border-radius: 4px;
}

.button {
    padding-top: 3em;
}

.controls {
    padding-top: 1em;
}

label {
    display: block;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: white;
    font-size: 16px;
    padding-top: 1em;
}

input {
    display: block;
    width: 5em;
    height: 25px;
    font-size: 20px;
    color:dimgray;
}

.name {
    width: 20em;
}

#comments {
    font-size: 15px;
    width: 100%;
}

.stars {
    --s:25px;
    position:relative;
    display:inline-flex;
}

.stars input {
    width:var(--s);
    height:var(--s);
    margin:0;
    opacity:0;
    cursor:pointer;
}

.stars i {
    position:absolute;
    display:grid;
    inset:0 0 calc(var(--s)*0.1);
    pointer-events:none;
    --v1:transparent,#000 0.5deg 108deg,#0000 109deg;
    --v2:transparent,#000 0.5deg  36deg,#0000  37deg;
    -webkit-mask:
      conic-gradient(from 54deg  at calc(var(--s)*0.68) calc(var(--s)*0.57),var(--v1)),
      conic-gradient(from 90deg  at calc(var(--s)*0.02) calc(var(--s)*0.35),var(--v2)),
      conic-gradient(from 126deg at calc(var(--s)*0.5)  calc(var(--s)*0.7) ,var(--v1)),
      conic-gradient(from 162deg at calc(var(--s)*0.5)  0                  ,var(--v2));
    -webkit-mask-size: var(--s) var(--s);
    -webkit-mask-composite: xor,destination-over;
    mask-composite: exclude,add;
    background: #ccc;
}

.stars i:before,
.stars i:after {
    content:"";
    grid-area:1/1;
    margin-inline-end:auto;
}

.stars i:before {
    background: gold;
    width:calc(var(--p,0)*var(--s));
}

.stars i:after {
    background: rgba(255,0,0,var(--o,0.3));
    width:calc(var(--l,0)*var(--s));
}
  
.stars:focus-within {
    outline:1px solid;
}
  
input:active ~ i{--o:1}

input:nth-of-type(1):checked ~ i {--p:1}
input:nth-of-type(2):checked ~ i {--p:2}
input:nth-of-type(3):checked ~ i {--p:3}
input:nth-of-type(4):checked ~ i {--p:4}
input:nth-of-type(5):checked ~ i {--p:5}
input:nth-of-type(6):checked ~ i {--p:6}
input:nth-of-type(7):checked ~ i {--p:7}
input:nth-of-type(8):checked ~ i {--p:8}
input:nth-of-type(9):checked ~ i {--p:9}
input:nth-of-type(10):checked ~ i {--p:10}
/*input:nth-of-type(N):checked ~ i {--p:N}*/

input:nth-of-type(1):hover ~ i {--l:1}
input:nth-of-type(2):hover ~ i {--l:2}
input:nth-of-type(3):hover ~ i {--l:3}
input:nth-of-type(4):hover ~ i {--l:4}
input:nth-of-type(5):hover ~ i {--l:5}
input:nth-of-type(6):hover ~ i {--l:6}
input:nth-of-type(7):hover ~ i {--l:7}
input:nth-of-type(8):hover ~ i {--l:8}
input:nth-of-type(9):hover ~ i {--l:9}
input:nth-of-type(10):hover ~ i {--l:10}
/*input:nth-of-type(N):hover ~ i {--l:N}*/
