<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Looker Upper</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>The amazing Book Looker Upper Site!</h1>

    <%= yield %>
    
    <nav>
        <a href="/">Home</a>
    </nav>
    
</body>
</html>