body {
    background: url(/images/camera2.jpeg);
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.a1 {
    margin: 2em;
    color: rebeccapurple;
    font-size: 25px;
}

.h1 {
    font-size: 2.5em;
    color: red;
}

.h2 {
    font-size: 3em;
    color: blueviolet;
}

.af {
    margin: 2em;
}