<h1>
    Add New Actor
</h1>

<form action="/actors" method="post">
    <div>
        <label>Name</label>
        <input type="text"  name="actor_name" placeholder="Name" required>
    </div>
    <div>
        <label>Birthplace</label>
        <input type="text" name="birthplace" placeholder="Birthplace">
    </div>
    <div>
        <label>Photo link</label>
        <input type="text" name="photo"  placeholder="url...">
    </div>
    <button>Add Actor</button>
</form>