<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <title>Movie Database</title>
    </head>

    <body>
        <header>
            <h1>Movie World</h1>
        </header>
        <nav>
            <a href="/">Home</a>
            <a href="/movies">Movies</a>
            <a href="/actors">Actors</a>
            <a href="/movies/new">Add movie</a>
            <a href="/actors/new">Add Actor</a>
        </nav>
        <main>
            <%= yield %>
        </main>
    </body>
</html>