<h1>
    Add New Movie
</h1>

<form action="/movies" method="post">
    <div>
        <label>Title</label>
        <input type="text" name="title" placeholder="Title" required>
    </div>
    <div>
        <label>Release year</label>
        <input type="text"  name="release" placeholder="Release">
    </div>
    <div>
        <label>Movie Synopsis</label>
        <input type="text" name="synopsis" placeholder="Synopsis">
    </div>
    <div>
        <label>Movie Poster</label>
        <input type="text" name="pic" placeholder="Poster">
    </div>
    <button>Add Movie</button>
</form>