<h1>Games on Rails</h1>

<p>
    <a href="/games/magicball">Magic 8 Ball</a>
</p>
<p>
    <a href="/games/secretnumber">Secret Number Guess</a>
</p>
<p>
    <a href="/games/rockpaperscissors">Rock Paper Scissors</a>
</p>