<h1 class="main-title">
    Add new dog breed
</h1>

<div class="dog-container">
    <form action="/dogs" method="post">
        <label for="">
            Breed name:
            <input type="text" name="name" placeholder="Breed" required>
        </label>
    
        <label for="">
            Dog size:
            <input type="text" name="size" placeholder="small/medium/large">
        </label>
    
        <label for="">
            Country of origin:
            <input type="text" name="origin" placeholder="country">
        </label>
    
        <label for="">
            Image:
            <input type="url" name="image" placeholder="http//...">
        </label>
        <button>Add breed</button>
    </form>
</div>
