<div class="main-title">
    <h1>
        Dog Breed Database
    </h1>
    <h2>Canis Lupus Familiaris</h2>
</div>


<div class="images-container">
    <span class="top-images">
            <img src="https://i.imgur.com/6yc3Roy.png" alt="child dog">
            <img src="https://i.imgur.com/FkLc80z.png" alt="dog hug">
    </span>
    <span class="images-container">
        <img src="https://i.imgur.com/XZRwrPT.png" alt="playing dogs">
        <img src="https://i.imgur.com/uQO21Oz.png" alt="family dog">
    </span>
</div>
