<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dog Breeds</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <main>
        <nav>
            <a class="main-links" href="/dogs">Main page</a>
            <a class="main-links" href="/dogs/new">Add new breed</a>
        </nav>

        <br>

        <%= yield %>

    </main>
</body>
</html>