<h1>
    <%= @question %>
    <br>
    The answer you seek...
</h1>

<h2>
    <%= @answer %>
</h2>

<div class="magic-container">
    <img src="https://i.imgur.com/wl6iqJZ.png" alt="magic eight ball">
</div>


