<h1>Ask the Magic 8 Ball Anything...</h1>
<form action="/magic8/prediction">
    <label>
        Ask any yes / no question you want answered
        <br>
        <input type="text" name="question" placeholder="Question here" required>
    </label>
    <button>Search for answer</button>
</form>