<h1>Magic 8 Ball</h1>

<form action="/magic8ball/result">
    <label>
        Enter your question:
        <input name="question" placeholder="Will I win the lotto?" required>
    </label>

    <button>Find answer</button>

</form>