<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Football Stadiums</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>

    <div class="container">
        <nav>
        <a href="/stadiums" class="nav-item">All Stadiums</a>
        <a href="/stadiums/new" class="nav-item">New Stadium</a>
    </nav>
    <p>
        <%= yield %>
    </p>
    </div>
    
  </body>
</html>
