<h1>Add new stadium</h1>

<form action="/stadiums" method="post">
    <label>
        Name:
        <input name="name" placeholder="Santiago Bernabéu" required>
    </label>
    <label>
        Country:
        <input name="country" placeholder="Spain" required>
    </label>
    <label>
        Picture:
        <input type="url" name="image" placeholder="http://..">
    </label>
    <button>Add Stadium</button>
</form>