<h1>New Musician</h1>

<form action="/musicians" method="post">New Musician
    <label>Name: 
        <input name="name" placeholder = "Wolfgang Amadeus Mozart" required>
    </label>
    <label>Born Year: 
        <input name= "born" placeholder = "1756" >
    </label>
    <label>Decease Year: 
        <input name= "deceased" placeholder = "1791">
    </label>
    <label>Image: 
        <input type="url" name= "image" placeholder ="http://...">
    </label>

    <button>Create Musician</button>
</form>