<h1>Welcomt to Magic 8 Ball</h1>
<h3>Ask me a question, if you dare to face the future.</h3>
<form action="/magic/results">
    <label>
    <input name="results" type="text" placeholder="Will I be famous?" required>
    </label>
    <button>Tell me my future!</button>

</form>