<h1>Enter a new product</h1>

<form action="/products" method="post">
    <label>
        Product name:
        <input name="name" placeholder="Expert 3D" required>
    </label>

    <label>
        Brand:
        <input name="brand" placeholder="Singing Rock">
    </label>

    <label>
        Type:
        <input name="type" placeholder="Helmet">
    </label>
    
    <label>
        SKU:
        <input name="sku" placeholder="RBX01234">
    </label>    

    <label>
        Image:
        <input type="url" name="image" placeholder="http://...">
    </label>

    <label>
        Manual:
        <input type="url" name="manual" placeholder="http://...">
    </label>

    <button>Create new product</button>

</form>