<h1>New cat </h1>

<form action="/cats" method="post">
    <label>
        breed:
        <input name="breed" placeholder="Ragdoll"  required>

    </label>

    <label>
        Image:
        <input type="url" name="image" placeholder="http://...">
    </label>

    <button>Create cat</button>
</form>