<h2> Choose your favorite number </h2>

<form action="/secretnumber/results">
    <label>
        pick a number
        <select name="guess">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
    </label>
    <button>Submit</button>
</form>