<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.min.css">
    <title>Pokemon Search</title>
</head>
<body>
    <h1>Pokemon Searcher</h1>
    <form action="/result">
        <label>
            Pokemon Name:
            <input name="search" type="search" placeholder='pikachu' required/>
        </label>
        <button type="submit">Search</button>
    </form>
</body>
</html>