<h1>New movie </h1>

<form action="/movies" method="post">
    <label>
        Name:
        <input name="name" placeholder="The Avengers"  required>

    </label>


    <label>
        Image:
        <input type="url" name="image" placeholder="http://...">
    </label>

    <button>Create movie</button>
</form>