<h1>Guess the number your computer pick</h1>
<form action="/secret_number/lose" >
<button name="id" value="1">1</button>
<button name="id" value="2">2</button>
<button name="id" value="3">3</button>
<button name="id" value="4">4</button>
<button name="id" value="5">5</button>
<button name="id" value="6">6</button>
<button name="id" value="7">7</button>
<button name="id" value="8">8</button>
<button name="id" value="9">9</button>
<button name="id" value="10">10</button>
</form>