<h1>Magic 8 Ball</h1>

<form action="/magic/answer">
        <label>
        Ask your question:
        <input name="question" placeholder="Will there be a storm tomorrow?" required>
    </label>
    <button>Show me the answer</button>
</form>
