<h1>
    Secret Number
</h1>

<h2>
    Try to guess the secret number!
</h2>

<form action="/secretnumber/answer">
    <label>
        Guess a number from 1 to 10
        <br>
        <input type="text" name="guess" placeholder="1 to 10" required>
    </label>
    <br>
    <button>Take a guess</button>
</form>