
<form action="/secretnumber/results">
    Pick a number between 1 and 10...
    <input name="select" placeholder="1...10" required>
    <button>Guess!</button>



    <%# # No show of getting buttons to work! %>
    <%# <input name="Input:" placeholder="13" required> %>
    <%# <button id="1" value="1">1</button>
    <button value="2">2</button>
    <button value="3">3</button>
    <button value="4">4</button>
    <button id="5" value="5">5</button>
    <button value="6">6</button>
    <button value="7">7</button>
    <button value="8">8</button>
    <button value="9">9</button>
    <button value="10">10</button> %>
</form>