<h1><a href="https://www.googleapis.com/books/v1/volumes?q=title:HarryPotter">Harry Potter list</a></h1>

<form action="/info">
   <h2> <label>
        Book cover
        <input name="book_cover"  placeholder="Harry Potter and ..."></h2>
    </label>

    <button>Check Cover</button>
</form>