<h1>Movie Fetcher</h1>

<form action = '/info'>

    <label>
        Movie Name:
        <input name = 'movie_name' placeholder="Movie Name?" required>

    </label>
    <button>Get Movie</button>



</form>