<h1>
    Name:
    <%= @shop["name"] %>
</h1>

<h2>
    Location:
    <%= @shop["location"] %>
</h2>

<footer>
    <a Class="af" href="/shops/<%= @shop["id"] %>/edit">EDIT</a>
    <a Class="af" href="/shops/<%= @shop["id"] %>/delete">DELETE</a>
</footer>