<h1>ADD A NEW SHOP TO THE LIST</h1>

<form action="/shops" method="post">
    <label>
        Name of the Shop:
        <input name="name" placeholder="Equalizer..."> 
    </label>

    <label>
        ADDRESS:
        <input name="location" placeholder="L2, Chastwood...">
    </label>
    <br>
    <br>
    <button>Create the shop</button>

</form>