<h1>The result of game is</h1>

<h3>You chose: <%= @player_choice %></h3>

<h3>The computer chose: <%= @computer_choice %></h3>

<h2><%= @result %></h2>

<p><a href="/rock_paper_scissors"> Let me play again</a></p>
<p><a href="/">Let me just play a different game</a></p>