nav {
    background-image: url("images/bg_wrapper.png");
    color: white;
    padding: 1% 10%;
}

nav ul {
    width: 960px;
    margin: 0 auto;
    padding: 0;
}

li {
    display: inline-block;
    margin: 1%;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-image: url("images/bg_body.jpg");
}

header {
    padding: 2% 0;
    width: inherit;
}

#social-media {
    position: absolute;
    right: 0px;
}

#main-content {
    position: relative;
    width: 960px;
    margin: 0 auto;
}

.photobanner {
    height: 370px;
}

#blurb {
    position: relative;
    border-top: solid lightgrey;
    border-left: solid lightgrey;
    border-right: solid white;
    border-bottom: solid white;
    display: inline-block;
    width: 960px;
}

#blurb img {
    background-image: url("images/bg_blurb.jpg");
    position: absolute;
    right: 0px;
    top: 17px;
}

#blurbtext {
    width: 80%;
    line-height: 150%;
    margin: 20px;
}

.home-boxes {
    width: inherit;
    padding: 0;
}

.home-box {
    width: 279px;
}

h2 {
    color: rgb(51, 51, 51);
}

.home-box img {
    border: thick solid lightgrey;
}

.texthighlight {
    color: lightskyblue;
}
/* FOOTER */
footer {
    padding: 1%;
    background-color: black;
    color: white;
}

.box-footer li {
    display: block;
    margin: 0;
}

.box-footer ul {
    padding: 0;
    width: calc(950px/4);
    display: inline-block;
    vertical-align: top;
}

.box-footer {
    width: 960px;
    margin: 0 auto;
    padding: 0;
}

#textwidget {
    width: 436px;
    margin: 16px 20px;
}

.home-boxes li:nth-child(2) {
    margin: 37.8px;
}

.bottom {
    position: relative;
    display: inline-block;
}

#companybottom {
    left: 505px;
}