<h1>Rock, Paper & Scissors</h1>



<a href="/rps/rock"><h1 class="rock"> &#x1FAA8; </h1></a>
<a href="/rps/paper"> <h1 class="paper"> &#x1F9FB; </h1></a>
<a href="/rps/scissors"> <h1 class="scissors"> &#x2702; </h1> </a>
