<h1>New Doctor</h1>

<form action="/doctors" method="post">
    <label>
        Name:
        <input name="name" placeholder="John" required>
    </label>
    <label>
        Family:
        <input name="family" placeholder="Smith">
    </label>        
    <label>
        Speciality:
        <input name="speciality" placeholder="Eye specialist">
    </label>
    <label>
        Phone Number:
        <input name="phone" placeholder="04..">
    </label>
    <label>
        Image:
        <input type="url" name="image" placeholder="https://">
    </label>


    <button>Create New Doctor</button>
</form>