<h1>Welcome to Games On Rails</h1>
<h2>Select a game from the list:</h2>
<ul class="homepage-menu">
    <a href="/eightball"><li>Magic 8 Ball</li></a>  
    <a href="/secretnum"><li>Secret Number</li></a>
    <a href="/rps"><li>Rock Paper Scissors</li></a>
</ul>