<h1>Magic 8 Ball</h1>

<form action="/magic/question/answer">
        <label>
        Ask to the ball:
        <input class="question" name="question" placeholder="Will I be able to finhishe this game?" required>
    </label>
    <button>See the answer</button>
</form>

<p>
    <a href="/">Play another game</a>
</p>
