<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.min.css">
    <title>Google Books</title>
</head>
<body>
<form action="/info">
    <div>
        Book Title:
    </div>
    <p></p>
    <label>
        <div>
            <input type="search" name="cover" placeholder="The Fountainhead" required>
            <button>search</button>
        </div>
    </label>
</form>
</body>
</html>