<div class="content" style='background-color:rgba(0, 0, 0, 0.79); height:100%; color:aliceblue'>
    <div class="container">
    <h2 style="text-align:center">New Artist</h2>
        <form action="/artists" method='post'>
            <div class="mb-3">
                <label class="form-label">
                    <input class="form-control" name="name" placeholder='name' required>
                </label>
            </div>
            <div class="mb-3">
                <label class="form-label">
                    <input name="location" class="form-control" placeholder='hometown'>
                </label>
            </div>
            <div class="mb-3">
                <label class="form-label">
                    <input name="sub" class="form-control" placeholder='sub genre'>
                </label>
            </div>
            <div class="mb-3">
                <label class="form-label">
                    <input name="image" class="form-control" placeholder='image url'>
                </label>
            </div>
            <div class="mb-3">
                <label class="form-label">
                    <input name="video" class="form-control" placeholder='video url'>
                </label>
            </div>

            <button type="submit" class="btn btn-dark">Submit</button>
        </form>    
</div>
</div>