<div class="content-container">
    <h2>New Artist</h2>
    <form action="/artists" method='post'>
        <label>
            Name:
            <input name="name" placeholder='name here'>
        </label>
        <label>
            Location:
            <input name="location" placeholder='hometown'>
        </label>
        <label>
            Sub Genre:
            <input name="sub" placeholder='sub genre'>
        </label>
        <label>
        Image:
            <input name="image" placeholder='image url'>
        </label>
        <label>
            Video:
            <input name="video" placeholder='video url'>
        </label>          
        <button>Submit</button>
    </form>
</div>