<div class="content-container">
    <h2>New Song</h2>
    <form action="/songs" method='post'>
        <label>
            Artist:
            <input name="artist" placeholder='artist name here'>
        </label>
        <label>
            Album:
            <input name="album" placeholder='album here'>
        </label>
        <label>
            Song Name:
            <input name="name" placeholder='song name'>
        </label>
        <label>
        Release year:
            <input name="date" placeholder='year of release'>
        </label>
        <label>
        Image:
            <input name="cover" placeholder='image url'>
        </label>
        <label>
            Video:
            <input name="link" placeholder='video url'>
        </label>
        <button>submit</button> 
    </form>
</div>