<h1>AVERAGE READS</h1>
<h2>Find books and their authors and track your reading list here -</h2>
<h3>Browse by: </h3>
<div class="browse-categories">
    <p><a href="/books">Books</a></p>
    <p><a href="/authors">Authors</a></p>
</div>