<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Average Reads</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class="container">     
        <nav>
            <a href="/">Home</a> | | 
            <a href="/books">All Books</a> |
            <a href="/books/new">New Book</a> | |              
            <a href="/authors">All Authors</a> |
            <a href="/authors/new">New Author</a>
        </nav>
        <%= yield %>
    </div>
    
</body>
</html>