<h1>New Patient</h1>

<form action="/patients" method="post">
    <label>
    Name:
        <input name="name" placeholder="John" required>
    </label>
    
    <label>
    Family:
        <input name="family" placeholder="Smith">
    </label>
    
    <label>
    Phone Number:
        <input name="phone" placeholder="04...."> 
    </label>
    <label>
    Patient Image:
        <input type="url" name="image" placeholder="http://...">
    </label>

    <button>Create New Patient</button>
</form>