<div class="container_home">
    <h1 class="title_home">book</h1>

    <form action="/display">
        <label>
            enter the book title to see informations about it:
            <input name="book_title" placeholder="Ulysses" required>
        </label>

        <button>check informations...</button>
    </form>
</div>