<h3>Your guess was: <%= params[:number] %></h3>

<h3>The answer is: <%= @rand %></h3>

<% if @rand == params[:number] %>
    <p>You win!</p>
    <% else %>
    <p>You lose!</p>
<% end %>

<a href="/secret">Make another guess</a>
<a href="/">Play another game</a>