<h1>Secret Number</h1>

<form action="/secret/number/answer">
        <label>
        Guess a number:
        <input name="number" placeholder="Enter a number between 1 and 10" required>
    </label>
    <button>Check your guess</button>
</form>

<a href="/">Play another game</a>