<h1>Games on Rails</h1>

<p>
    <a href="/magicball">Magic 8 Ball</a>
</p>
<p>
    <a href="/secretnumber">Secret Number Guess</a>
</p>
<p>
    <a href="/rockpaperscissors">Rock Paper Scissors</a>
</p>