<h1>New Director</h1>
    <form action="/directors" method="post">
        <label>
            Name:
            <input name="name" placeholder="Charlie Chaplin" required>
        </label>
         <label>
            Years Active:
            <input name="years_active" placeholder="1920-present" required>
        </label>
        <label>
            Image:
            <input name="image" type="url" placeholder="image" placeholder="http://...">
        </label>
        <button>Create Director Entry</button>
    </form>