
<h1>New Movie</h1>
    <form action="/movies" method="post">
        <label>
            Name:
            <input name="name" placeholder="film title" required>
        </label>
         <label>
            Dir:
            <input name="director" placeholder="Charlie Chaplin" required>
        </label>
         <label>
            Rel:
            <input name="released" placeholder="2021" required>
        </label>
        <label>
            Image:
            <input name="image" type="url" placeholder="image" placeholder="http://...">
        </label>
        <button>Create Movie Entry</button>

    </form>