<h1>Pick a number</h1>

<a href="/secrets/show">
    <button id="1">1</button>
    <button id="2">2</button>
    <button id="3">3</button>
    <button id="4">4</button>
    <button id="5">5</button>
    <button id="6">6</button>
    <button id="7">7</button>
    <button id="8">8</button>
    <button id="9">9</button>
    <button id="10">10</button>
</a>

<img src="https://www.mandatory.com/assets/uploads/2016/10/GettyImages-162662437-copy-e1475849622149.jpg" alt="A secret clown">