<h2>Your question</h2>
<form action="/magic8ball/results">
<label>
    Your question:
    <input name="question" placeholder="Am I lucky today?" required>
</label>
    <button>Send Your Question</button>
</form>