<form action="/cars" method="post">
    <label>
        Make:
        <input name="make" placeholder="Toyota">
    </label>
    <br>
    <label>
        Model:
        <input name="model" placeholder="RAV4">
    </label>
    <br>
    <label>
        Body type:
        <input name="body" placeholder="4WD">
    </label>
    <br>
    <label>
        Electric:
        <input name="electric" type="checkbox">
    </label>
    <br>
    <label>
        Price $:
        <input name="price" type="number" placeholder="35000">
    </label>
    <br>
    <label>
        Photo URL:
        <input name="photo" type="URL" placeholder="http://...">
    </label>
    <br>
    <button>Add Car!</button>

</form>