<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cars</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <h1>CARS ONLINE</h1>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/cars/new">Add Car</a>
        </div>
    </nav>
    <div class="container">
        <%= yield %>
    </div>
</body>
</html>