<h1>New Mountains</h1>

<form action="<%= mountains_path %>" method="post">
    <label>
    Name:
    <input name="name" required>
    </label>

     <label>
    Image:
    <input type="url" name="image" >
    </label>

     <label>
    Height:
    <input type="number" name="orbit" >
    </label>


     <label>
    Country:
    <input type="text" name="country" >
    </label>

    <button>Create Mountain</button>

</form>