<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bluey</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
    <a href="/">Home</a>
    <a href="/bluey">All Character</a>
    <a href="/bluey/new">New Character</a>

    </nav>
    <img class = "logo" src="https://www.bluey.tv/wp-content/uploads/2019/06/bluey-trademark-white.svg" alt="Bluey">
    <%= yield %>


</body>
</html>