.chain-feature{
    max-height: 20%;
}
.chain-thumbnail{
    max-height:300px;
}

form{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 1rem;
    label{
        display: block;
        padding: 1em;
        font-size:14px;
    }
    input{
        display: block;
        width: 100%
    }
    select{
        margin-bottom: 2rem;
        width: 100%;
    }
}
