<h1>Magic 8 Ball</h1>
<form action="/eightball/result">
    <label>
        <p>Ask the Magic 8 Ball any question you like:</p>
        <input name="question" type="text" placeholder="Enter your question here..." size="50" required>
    </label>
    <button class="eightball-btn">Submit</button>
    
</form>