<h1>Magic 8 Ball</h1>
<h2>Q:<span class="eightball-result"><%= @question %></span></h2>
<h2>A:<span class="eightball-result"><%= @response %></span></h2>
<a href="/eightball"><button class="back-btn">Back</button></a>