<h1>All Authors</h1>

<% @authors.each do |author| %>

    <%= image_tag author.image if author.image.present? %>
    <ul>
        <li>Name: <%= link_to author.name, author %></li>
        <li>Nationality: <%= author.nationality %></li>
    </ul>
<% end %>

 