<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Pokeapi</title>
    </head>
    <body>
        <h1>POKEMON</h1>
        <form action="/info">
            <label>
                Search Pokemon:
                <input
                    type="Search"
                    name="pokemon"
                    placeholder="Pikachu"
                    required
                />
            </label>
            <button>Submit</button>
        </form>
    </body>
</html>
