<h1>
    Book Search
</h1>

<form action="/result">
    <label for="">
        Search for stock:
        <input type="text" name="book" placeholder="Book name" required>
    </label>
    <button>Find Book</button>
</form>