<form action="/birds/1/newsighting" method="post">
    <label>
        <p>locName</p>
        <input name="locName" type="text">
    </label>
    <label>
        <p>obsDt</p>
        <input name="obsDt" type="text">
    </label>
    <label>
        <p>howMany</p>
        <input name="howMany" type="text">
    </label>
    <label>
        <p>lat</p>
        <input name="lat" type="text">
    </label>
    <label>
        <p>lng</p>
        <input name="lng" type="text">
    </label>
    <br>
    <button>Submit</button>
</form>