<h1>NEW OCEAN</h1>

<form action="<%= home_path %>" method="post">

    <label>
        Name:
        <input name="name" required>
    </label>

    <label>
        Image:
        <input type="url" name="image">
    </label>

    <label>
        Depth:
        <input type="number" name="depth">
    </label>
    
    <label>
        Location:
        <input name="location">
    </label>

    <button>Create Ocean</button>

</form>