<h1>Impulse! Catalogue</h1>
<h2><img src="assets\images\impulserecords.jpg" alt="" srcset=""></h2>
<% @releases.each do |release| %>
    <%= link_to image_tag(release.image, :class => 'thumb'), release %>
<% end %>
