<p class="text">Do you have a test for that? </p>
<div class="buttondiv">
    <form action="/pass">
        <button class="greenButton">Yes</button>
    </form>
    <form action="/write_test">
        <button class="redButton">No</button>
    </form>
</div>