<h1>Magic 8 Ball</h1>
<h3>Ask me what you desire</h3>
<form action="/ball/results">
    <label>
        <input name="question" placeholder="go on i wont bite" required>
    </label>
    <button>Submit</button>
</form>