<h1>New job</h1>

<form action="/jobs" method="post">
  <label>
        Job:
        <input name="job" placeholder="Podcasting" required>
    </label>

    <label>
        Location:
        <input name="location" placeholder="Melbourne/Remote" required>
    </label>

    <label>
        Paid?:
        <input name="paid" placeholder="Paid/Unpaid" required>
    </label>
   
    <button>Create job</button>
</form>