<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aleks Hammo Projects</title>
    <link rel="stylesheet" href="/css/style.css"> 
</head>
<body>

    <div class="container">
        <nav>
            <a href="/">Home</a>
            |
            <a href="/podcasts">All podcasts</a>
            <a href="/podcasts/new">New podcast</a> 
            |
            <a href="/jobs">All jobs</a>
            <a href="/jobs/new">New job</a> 
        </nav>

        <%= yield %>
    </div>

</body>
</html>