<h1>New podcast</h1>

<form action="/podcasts" method="post">

    <label>
        Number:
        <input name="number" placeholder="#88 JOEL TURNBULL" required">
    </label>

    <label>
        Title:
        <input name="title" placeholder="Why anything?" required>
    </label>

    <label>
        Theme:
        <input name="theme" placeholder="Philosophy">
    </label>

    <label>
        Image:
        <input type="url" name="guest_image" placeholder="https://...">
    </label>

    <button>Create podcast</button>
</form>