<h1>All podcasts</h1>

<% @podcasts.each do |podcast| %>
    <p>
        <a href="/podcasts/<%= podcast["id"] %>">
            <%= podcast["title"] %>
        </a>
    </p>
<% end %>

#87 FREUD — Mourning and Melancholia
Mar 17, 2022
<br>
<br>
<br>

#86 THE METAVERSE — A means for liberation or subordination?
Feb 11, 2022
<br>
<br>
<br>

#85 MERRELLECTUALS2.0 — Memes, Melbourne, Rich Dad Poor Drip, and Politics
Feb 04, 2022
<br>
<br>
<br>
#84 PHONE ADDICTION — Existential blessing or curse?
Jan 20, 2022
<br>
<br>
<br>
#83 SIMON CRITCHLEY — Disappointment, New Thinking, and Philosophy
Jan 05, 2022
<br>
<br>
<br>
#82 Meaning, Purpose, and Cyborgs
Dec 23, 2022
<br>
<br>
<br>
#81 FLEX MAMI — Living Online, Being Authentic, and Commodifying the Self
Dec 08, 2021
 <br>
<br>
<br>
#80 MOKTAR — Arabness, Otherness, and Sound
Nov 24, 2021
<br>
<br>
<br>
#79 Influencers and The Influenced
Nov 18, 2021
<br>
<br>
<br>
#78 Is Productivity making us Depressed?
Nov 10, 2021
<br>
<br>
<br>
#77 Back on Antidepressants
Nov 03, 2021
<br>
<br>
<br>
#76 Jess Zanoni — The Emotion of Time & Being Creative
Aug 01, 2021
<br>
<br>
<br>
#75 Life after Antidepressants (Part 3)
Jul 24, 2021
<br>
<br>
<br>
#74 Gregor — Music, Creativity, and Change
Jul 18, 2021
<br>
<br>
<br>
#73 Beri Marušić — Grief, Love, and Reason
Jun 20, 2021
<br>
<br>
<br>
#72 Raymond Tallis — Free Will, Identity, and the Limits of Philosophy and Science
Jun 15, 2021
<br>
<br>
<br>
#71 Aleks Answers (Part 1)
Jun 09, 2021
<br>
<br>
<br>
#70 Life after Antidepressants (Part 2)
Jun 06, 2021
<br>
<br>
<br>
#69 Cancel Culture — Social Justice Series
May 22, 2021
<br>
<br>
<br>
#68 Life after Antidepressants (Part 1)
May 17, 2021
<br>
<br>
<br>
#67 Perfectionism
Apr 28, 2021
<br>
<br>
<br>
#66 Meaning and Depression (Part 1)
Mar 18, 2021
<br>
<br>
<br>
#65 Grief
Jan 13, 2021
<br>
<br>
<br>
#64 Minorities and Philosophy w/ Kelly and Paul
Jan 04, 2021
<br>
<br>
<br>
#63 Graham Priest — Buddhist Ethics, Meditation, and Politics
Dec 30, 2020
<br>
<br>
<br>
#62 Effective Altruism and The Life You Can Save w/ Dr. Charlie Bresler
Dec 27, 2020
<br>
<br>
<br>
#61 Wittgenstein
Dec 06, 2020
<br>
<br>
<br>
#60 On Being... Sober
Oct 25, 2020
<br>
<br>
<br>
#59 Psychiatry and Philosophy w/ Dr. Paul Cammell
Oct 01, 2020
<br>
<br>
<br>
#58 Moral Relativism
Sep 09, 2020
<br>
<br>
<br>
#57 The Banality of Depression
Sep 08, 2020
<br>
<br>
<br>
#56 On Being... Depressed (Part 2)   
Sep 02, 2020
<br>
<br>
<br>
#55 Julian Burnside — Seeking Asylum, Reasons for Exclusion, and Finding Purpose
Aug 27, 2020
<br>
<br>
<br>
#54 On Being... Happy
Aug 23, 2020
<br>
<br>
<br>
#53 The Existential Crisis
Aug 15, 2020
<br>
<br>
<br>
#52 The Ethics of Capitalism w/ Dr. Dan Halliday
Aug 07, 2020
<br>
<br>
<br>
#51 Existential Risk: AI, Cyber Security, Pandemics, and Education w/ Dr. Shahar Avin
Jul 23, 2020
<br>
<br>
<br>
#50 Searching for Good Relationships, Leaving Problematic ones, and thinking about Depression and Antidepressants w/ Jess
Jul 11, 2020
<br>
<br>
<br>
#49 Cancel Culture, Echo Chambers, and Virtue Signalling
Jul 07, 2020
<br>
<br>
<br>
#48 The Importance of the Humanities - Conservatives, 1984, and Democracy
Jul 03, 2020
<br>
<br>
<br>
#47 One year later... Reflecting on Meaning, Relationships, and Depression
Jun 30, 2020
<br>
<br>
<br>
#46 Normativity: what is it and how does it influence us?
Jun 29, 2020
<br>
<br>
<br>
#45 The Ethics of Charity
Jun 25, 2020
<br>
<br>
<br>
#44 Overwhelmed, Tired, And Staying Afloat...
Jun 21, 2020
<br>
<br>
<br>
#43 Prof Greg Restall - Logic, Society, Belief, And The Self
May 27, 2020
<br>
<br>
<br>
#42 Is Existentialism A Waste Of Time? Purpose, Freedom, And Equality In The 21st Century
May 22, 2020
<br>
<br>
<br>
#41 Power In Relationships, Freedom, And Meditation W/ Steph
May 13, 2020
<br>
<br>
<br>
#40 Free Will And Moral Responsibility      
May 07, 2020
<br>
<br>
<br>
#39 Free Will And Whether We Have Any...
Apr 30, 2020
<br>
<br>
<br>
#38 Suffering, Affluence, And Morality - Evaluating Peter Singer's Early Work...
Apr 19, 2020
<br>
<br>
<br>
#37 Tom Ballard - Capitalism, Freedom, Echo Chambers, And Atheism
Apr 17, 2020
<br>
<br>
<br>
#36 In Praise Of Idleness... Part II - Class, Privilege, And Idleness
Apr 15, 2020
<br>
<br>
<br>
#35 In Praise Of Idleness... Part I - Unpacking Idleness And Capitalism
Apr 09, 2020
<br>
<br>
<br>
#34 Insights Into The Psychological And Ethical Nature Of Being (in Times Of Crisis...)
Apr 07, 2020
<br>
<br>
<br>
#33 Dating, Being Indoors, And The Future Of Work
Apr 04, 2020
<br>
<br>
<br>
#32 Non-whiteness In Melbourne, Living In A Simulation, And The Economics Of Coronavirus W/ Jeff
Apr 02, 2020
<br>
<br>
<br>
#31 Depression And Antidepressants
Mar 31, 2020
<br>
<br>
<br>
#30 An Introduction To Consciousness...
Mar 30, 2020
<br>
<br>
<br>
#29 Cults, Sects, And Minority Religions W/ Prof. Eileen Barker OBE FBA
Mar 29, 2020
<br>
<br>
<br>
#28 Tom Ballard - Trying To Be Funny When Your Conscience Is For Sale
Mar 27, 2020
<br>
<br>
<br>
#27 Checking In...
Mar 26, 2020
<br>
<br>
<br>
#26 The Existentialism Of Productivity And Social Media
Mar 25, 2020
<br>
<br>
<br>
#25 How To Pursue Pleasure... Hedonism, Choice, And Freedom
Mar 24, 2020
<br>
<br>
<br>
#24 The Personal Implications Of Coronavirus: Individual, Social And International
Mar 23, 2020
<br>
<br>
<br>
#23 Love In The Time Of Coronavirus - Society, Joy, Isolation And Recalibrating W/ Oliver
Mar 20, 2020
<br>
<br>
<br>
#22 Why Foucault Is Still Relevant: Power, Knowledge, And Surveillance...
Mar 13, 2020
<br>
<br>
<br>
#21 Mum - Migration, Nationalism, Depression, And Growing Up In Melbourne
Mar 07, 2020
<br>
<br>
<br>
#20 Dr. Maria Alvarez - How We Shape The World And How It Shapes Us (the Politics Of Agency)
Feb 29, 2020
<br>
<br>
<br>
#19 Ed Fornieles + Omsk Social Club - Role Play And Knowing Yourself
Feb 22, 2020
<br>
<br>
<br>
#18 Peter Singer - Ethics, Ethics And Ethics (and How To Love Someone For 50 Years)
Feb 07, 2020
<br>
<br>
<br>
#17 Does Anyone Else Exist?
Feb 02, 2020
<br>
<br>
<br>
#16 Ethics Of AI And Privacy W/ Dr. Sanjay Modgil
Jan 28, 2020
<br>
<br>
<br>
#15 How To Talk About The Environment To People Who Don't Care
Jan 16, 2020
<br>
<br>
<br>
#14 On Being... Realistic
Dec 29, 2019
<br>
<br>
<br>
#13 Exoticism, Whiteness And Being Mixed Race W/ Mina
Dec 23, 2019
<br>
<br>
<br>
#12 On Being... Depressed (Part One)
Dec 15, 2019
<br>
<br>
<br>
#11 Spontaneity W/ Dr. Jonathan Gingerich
Dec 07, 2019
<br>
<br>
<br>
#10 How (NOT) To Talk About Colonialism And Race
Nov 30, 2019
<br>
<br>
<br>
#9 On Being... Philosophy
Nov 24, 2019
<br>
<br>
<br>
#8 @PiaCattapan - Modelling, Instagram Fame, And Whether They Can Make Us Happy
Nov 17, 2019
<br>
<br>
<br>
#7 Short Story (1)
Nov 09, 2019
<br>
<br>
<br>
#6 Romantic And Platonic Relationships (wow), Emotions And Morality W/ Grant
Oct 26, 2019
<br>
<br>
<br>
#5 Good Morning - The Good And Bad Of Music
Aug 04, 2019
<br>
<br>
<br>
#4 Freedom Of Speech W/ Dr Adrienne Stone
Jul 28, 2019
<br>
<br>
<br>
#3 Socialising, Otherness, And Family W/ Steph
Jul 22, 2019
<br>
<br>
<br>
#2 L. A. Paul - The Philosophy Of Knowledge
Jul 15, 2019
<br>
<br>
<br>
#1 Identity, Politics And Purpose W/ Madison Griffiths
Jul 08, 2019
<br>
<br>
<br>
Introduction
Jun 28, 2
