<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cliniko api</title>
</head>
<body>
    <h1>I have no idea how to get this to work</h1>


</body>
</html>