<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soups</title>
    <link rel="stylesheet" href="/css/soup.css">
</head>
    <body>
        <div class="container"> 
        <nav>
            <a href="/soups">SOUP</a>
            <a href="/soups/new">NEW SOUP </a>
        </nav>
            <%= yield %>
           
        </div>
    </body>
</html>