<h1>Let's cook up some soup.</h1>
<form class="questions" action="/soups" method="post">
    <label>
        Name of soup:  <br>
            <input name="soupname" placeholder="Best Friend Soup" required>
    </label>
      <br>
    <label> 
        Describe the soup:  <br>
            <input name="description_soup" placeholder="Velvety, orange, smooth.">
    </label>
      <br>
    <label>
        What movie is this soup from:  <br>
            <input name="movie" placeholder="My friend, Pumpkin jr.">
    </label>
      <br>
    <label>
        Tell me about this soup scene:  <br>
            <input name="scene_action" placeholder="Pumpkin jr befriends Potato jr over a hearty bowl of soup">
     </label>
      <br>
    <label>
        Image:  <br>
            <input type="url" name="image" placeholder="http://....">
    </label>
      <br>
    <label>
        Would you eat it?  <br>
            <input name="desireabilty" placeholder="Ew! Looks yuck!">
    </label>
      <br>

<button>Add New Soup!</button>
</form>