<h1>
    The book cover
</h1>

<form action="/info">
    <label>
        Book name:
        <input name="book_name" placeholder="Ulysses" required>
    </label>
    <button>Check book</button>
</form>