@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Rubik:wght@300&display=swap');

body {
    background-color: #DAE6E7;
}

.container {
    max-width: 1080px;
    margin: 0 auto; 
    padding: 1em; 
    font-family: 'IBM Plex Sans', sans-serif;
    position: relative;
    
}

.container {
    background-color: #F5F8F9;
    width: 100%;
    border-radius: .5em .5em .5em .5em;
    border-style: solid;
    border-color:#CBD8DC;
    border-width: .2px;
    display: inline-block;
    height: auto;
    position: absolute;
    top: 50px;
    right: 200px;
    text-align: center;
}


.bio {
    font-size: 30px;
    font-weight: bold;
}

.pTitle {
    font-size: 20px;
    font-weight: bold;
}

.content {
    margin:auto 0;
}

.header {
    object-fit: cover;
    width: 100%;
    height: 410px;
    position: relative;
    top: 0px;
    border-radius: 1em 1em 0em 0em;
}