<h1>Climb Categories</h1>

<h2>HC - Hors Categorie</h2>
<p>From the French term meaning beyond categorisation. The toughest of the tough. The longest or steepest climbs, often both combined.
</p>

<h2>Cat 1</h2>
<p>Still a very significant climb, it could be a big mountain climb with a lesser gradient or a shorter climb with a steep pitch, for example 8km at 8% through to 20km at 5%
</p>

<h2>Cat 2</h2>
<p>Category 2 could be a short climb, for example 5km at 8 percent, or as long as 15km at 4
percent</p>


<h2>Cat 3</h2>
<p>This could be a climb as short as 1km with a steep gradient of about 10% or a mellower climb up to 10km long with up to a 5% gradient.
</p>

<h2>Cat 4</h2>
<p>The easiest categorised climbs of all, under 2km long with an average grade of around 5% or 2-3% up to 5km long.</p>
