<h1>Add new mountain</h1>

<form action="<%= mountains_path %>" method="post">

    <label>
        Name:
        <input name="name" required>
    </label>

    <label>
        Length (KM):
        <input type="number" step="0.1" name="length">
    </label>

    <label>
        Average Gradient:
        <input type="number" step="0.01" name="avg_gradient" >
    </label>

    <label>
        Category:
        <select name="category">
            <option value="HC">HC</option>
            <option value="1">Cat 1</option>
            <option value="2">Cat 2</option>
            <option value="3">Cat 3</option>
            <option value="4">Cat 4</option>
        </select>
    </label>

    <label>
        Elevation Gain (Metres):
        <input type="number" name="elevation_gain">
    </label>

    <label>
        Image:
        <input type="url" name="image">
    </label>

    <label>
        VeloViewer Segment:
        <input type="url" name="map" required>
    </label>

    <button>Create</button>

</form>