<h1>Add Adventure</h1>

<form action="/adventures" method="post">
    <label>
        Title:
        <input name="title" placeholder="Temple of the Frog" required>
    </label>

    <label>
        System:
        <input name="system" placeholder="D&D" required>
    </label>

    <label>
        Edition:
        <input name="edition" placeholder="1st" required>
    </label>

    <label>
        Levels:
        <input name="levels" placeholder="10-14">
    </label>

    <label>
        Setting:
        <input name="setting" placeholder="Blackmoor" required>
    </label>

    <label>
        Publisher:
        <input name="publisher" placeholder="TSR" required>
    </label>

    <label>
        Year:
        <input name="year" placeholder="1986" required>
    </label>

    <label>
        Cover Image:
        <input type="url" name="cover" placeholder="http://...">
    </label>

    <button>Create adventure</button>

</form>