<h1><%= @author.name %></h1>

<ul>
    <li><%= @author.title %></li>
</ul>

<div class="controls">
    <a href="/authors/<%= @author.id %>/edit">Edit author</a>
    <a href="/authors/<%= @author.id %>/delete">Delete author</a>
</div>