<h1>New author</h1>

<form action="/authors" method="post">
    <label>
        Name:
        <input name="name" placeholder="Dave Arneson" required value="<%= @author.name %>">
    </label>

    <label>
        Title:
        <input name="title" placeholder="Temple of the Frog" required value="<%= @author.title %>">
    </label>

    <button>Update author</button>
</form>