/* 

## Style Hints: 

Body Font Size = 12px
	 Line Height = 17px
	 Font Family = "Times New Roman", serif
	 Font Color = #656565

Link Hover Color = #20222a

*/

body {
	font-size: 12px;
	 line-height: 17px;
	 font-family: "Times New Roman", serif;
	 color: #656565;
	 text-align: center;
}

h1, h2, footer, p {
	text-align: left;
	margin-left: 25%;
}

p {
	margin-right: 25%;
}

img {
	align-items: center;
}

img.logoImage {
	text-align: center;
	size: 25%;
	border: 3px solid grey;
}

a:hover {
	color: #20222a;
}
span {
	color: lightblue;
}


