<h1>Secret Number</h1>
<h2>Are you feeling lucky? Select a number.</h2>
<div class="secretnum-container">
    <div class="secretnum-box"><a href="secretnum/1">1</a></div>
    <div class="secretnum-box"><a href="secretnum/2">2</div></a>
    <div class="secretnum-box"><a href="secretnum/3">3</div></a>
    <div class="secretnum-box"><a href="secretnum/4">4</div></a>
    <div class="secretnum-box"><a href="secretnum/5">5</div></a>
    <div class="secretnum-box"><a href="secretnum/6">6</div></a>
    <div class="secretnum-box"><a href="secretnum/7">7</div></a>
    <div class="secretnum-box"><a href="secretnum/8">8</div></a>
    <div class="secretnum-box"><a href="secretnum/9">9</div></a>
    <div class="secretnum-box"><a href="secretnum/10">10</div></a>
</div>  