<div class="container">
<h1>Add Cook</h1>
<form action="/cooks" method="post">
<label>
Name:
<input name="name" placeholder="Ratatouille" required>
</label>

<label>
Image:
<input type="url" name="image" placeholder="http://....">
</label>

<button>Add Cook</button>
</form>
</div>