<div class="container">
<h1>Add Cookbook</h1>
<form action="/cookbooks" method="post">
<label>
Name:
<input name="title" placeholder="Tinsel Town Soup" required>
</label>
<label>
Cook:
<input name="cooks" placeholder="Paul Hollywood">
</label>
<label>
Image:
<input type="url" name="image" placeholder="http://....">
</label>

<button>Add to Collection</button>
</form>
</div>