<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookbooks</title>
    <link rel="stylesheet" href="/css/cookbook.css">
</head>
<body>
<%= yield %>
  <nav>
        <a href="/cookbooks">Cookbooks</a>
        <a href="/cookbooks/new">Add new</a>
        |
        <a href="/cooks">Cook</a>
        <a href="/cooks/new">Add Cook</a>
    </nav>

<div class="container">
  
    
</div>
</body>
</html> 