<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bands & Venues</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <a href="/bands">All the bands</a>
        <a href="/bands/new">New band</a>
        |
        <a href="/venues">All the venues</a>
        <a href="/venues/new">New venue</a> 
    </nav>

    <%= yield %>

</body>
</html>