<h1>New venue</h1>

<form action="/venues" method="post">
    <label>
        Name:
        <input name="name" placeholder="Festival Hall" required>    
    </label>

    <label>
        City:
        <input type="URL" name="image" placeholder="Melbourne">
        
    </label>

    <button>Create venue</button>
</form>

