<h1>Guess the secret number between 1 and 10</h1>

<form action="/secret_number/result">
        <label>
        Pick your guess:
        <input name="number" placeholder="Enter your number between 1 and 10" required>
    </label>
    <button>Am I a genius or what?</button>
</form>