<h1>Let us find out if your guess was right:</h1>

<h3>So you chose - <%= @guess %> </h3>
<h3>The game chose - <%= @system_choice %> </h3>

<% if @guess == @system_choice %>
<h2>You win, wohoo!</h2>
<% else %>
<h2>Damn you can't guess, I guess!</h2>
<% end %>

<p><a href="/secret_number"> Let me play again</a></p>
<p><a href="/">Let me just play a different game</a></p>



