body {
    text-align: center;
    background-color: black;
}

.container {
    width: 70%;
    margin: 100px auto;
    background-color: white;
    border-radius: 40px;
    padding: 50px 0;
}

a {
    background-color: brown;
    padding: 10px;
    margin: 30px;
    border-radius: 10px;
    color: white;
}

p {
    margin: 50px;
}

button {
    margin: 30px;
}

img {
    width: 300px;
    display: block;
    margin: 50px auto;
}