<div class = "row">
    <h1>Do you have a test for that?</h1>
</div>
<div class = "row">
    <form action="/yes1">   
        <button>YES</button>
    </form>
    <form action="/no1">   
        <button>NO</button>
    </form>
</div>

