<h1>Rock Paper Scissors</h1>
<h2>Make your guess carefully...</h2>
<a href="/rps/rock"><img class="rps-image" src="/assets/rock.jpeg" alt="rock">
<a href="/rps/paper"><img class="rps-image" src="/assets/paper.jpeg" alt="paper">
<a href="/rps/scissors"><img class="rps-image" src="/assets/scissors.jpeg" alt="scissors">
