<h1>Rock Paper Scissors</h1>


<h2 class="rps-guess">You Picked:</h2>
<img class="rps-result-image" src="<%= @h_image %>">
<br>
<h2 class="rps-guess">Computer Picked:</h2>
<img class="rps-result-image" src="<%= @p_image %>">

<h2><%= @message %></h2>

<a href="/rps"><button class="back-btn">Back</button></a>