<h1>New Castle</h1>

<form action="<%= castles_path %>" method="post">
    <label>
    Name:
    <input name="name" required>
    </label>
    <label>
    Image:
    <input type="url" name="image" >
    </label>
    <label>
    Prefecture:
    <input name="prefecture" >
    </label>
    <label>
    Build by who:
    <input name="who" >
    </label>
    <label>
    Built in :
    <input type="number" name="age" >
    </label>
    <button>Create Castle</button>
</form>
