<h1>Recommend Me Another Trash Anime</h1>

<form action= "/animes" method="post">
    <label>
        Name:
        <input name="title" placeholder="Domestic Girlfriend" required>
    </label>

    <label>
        Genre:
        <input name="genres" placeholder="Slice of Life">
    </label>
        Studio Name
    <label>
        <input type= "text" name="studio" placeholder="Ghibli" required>
    </label>

    <label>
        Art:
        <input type= "url" name="image" placeholder="http://...">
    </label>
    <button>Add Anime</button>
</form>