<h1>new studio</h1>

<form action= "/studios" method="post">
    <label>
        Name:
        <input name="name" placeholder="Kyoto Animation" required >
    </label>

    <label>
        Years Active:
        <input name="years" placeholder="1981-Present">
    </label>

    <label>
        Location
        <input name="studioID" placeholder="Kyoto Japan">
    </label>

    <label>
        Notable Works
        <input name="works" placeholder="A Silent Voice">
    </label>

    <label>
        Logo:
        <input type= "url" name="logo" placeholder="http://...">
    </label>
    <button>Add studio</button>
</form>