<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>exercises</h1>
    <% exercises.forEach((exercise)=>{ %>
        <div>
            <h3><%=exercise.name%></h3>
            <h4><%=exercise.equipment%></h4>
            <h4><%=exercise.target%></h4>
            <img src="<%=exercise.gifUrl%>">
        </div>
    <%})%>
</body>
</html>