<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/exercise">
        <label>
            What body part would you like to exercise?
            <select name="bodypart" id="bodypart">
                <option value="back">Back</option>
                <option value="cardio">Cardio</option>
                <option value="chest">Chest</option>
                <option value="lower%20arms">Lower Arms</option>
                <option value="lower%20legs">Lower Legs</option>
                <option value="neck">Neck</option>
                <option value="shoulders">Shoulders</option>
                <option value="upper%20arms">Upper Arms</option>
                <option value="upper%20legs">upper legs</option>
                <option value="waist">waist</option>
            </select>
        </label>
        <input type="submit" value="submit">
    </form>
</body>
</html>