<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spaceships of the Multiverse</title>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class="container">
        <nav>
            <a href="/spaceships">Spaceship Index</a>
            <a href="/spaceships/add">Add Spaceship</a>
        </nav>

        <%= yield %>
    </div>
    
</body>
</html>