<h1>Add spaceship</h1>

<form action="/spaceships" method="post">
    <label>
        Name:
        <input name="name" placeholder="Millenium Falcon" required>
    </label>

    <label>
        Class:
        <input name="class" placeholder="YT-1300 Light Freighter">
    </label>

    <label>
        Affiliation:
        <input name="affiliation" placeholder="Rebel Alliance">
    </label>

    <label>
        Source:
        <input name="source" placeholder="Star Wars">
    </label>

    <label>
        Image:
        <input type="url" name="image" placeholder="http://...">
    </label>

    <button>Launch spaceship!</button>
</form>