<h1>New Mountain</h1>

<form action="<%= mountains_path %>" method="post">
    <label>
        Name:
        <input type="text" name="name" required>
    </label>

    <label>
        Elevation:
        <input type="number" name="elevation">
    </label>

    <label>
        Country:
        <input type="text" name="country">
    </label>

    <label>
        Image:
        <input type="url" name="image">
    </label>

    <button>Create Mountain</button>
</form>