<h1><%= @mountain.name %></h1>
<ul>
    <li>Elevation: <%= number_with_delimiter @mountain.elevation %> m</li>
    <li>Country: <%= @mountain.country %></li>
    <li><%= image_tag @mountain.image %> </li>
</ul>