<h2> Please enter your question </h2>

<form action="/magic8ball/results">
    <label>
        Spit your words
        <input name="question" type="text" size ="50" placeholder="When will I become the next Bill Gates"  required>
    </label>
    <button>Submit</button>
</form>