<h3>You pick: <%= @picks[params[:pick].to_i] %></h3>

<h3>The oponent pick: <%= @oponent_choose %></h3>

<p>
<%= @result %>
</p>

<a href="/rock">Take another pick</a>
<a href="/">Play another game</a>