
<h1>Book Checker</h1>
<form action="/info">
    <label>
        Book Title:
        <input type="text" name="book_name" placeholder="Jaws" required>
    </label>     

    <button>Check The book</button>
</form>


    
