
    <h1>Book finder</h1>

    <form action="/result">
        <label>
            Book name:
            <input name="book_name" placeholder="I lick my cheese" required>
        </label>

        <button>Find</button>

    </form>

