<h1>Secret Number</h1>

<h3>Choose a number between 1 and 10</h3>

<h3> You picked number: <%=params[:secret_pick].to_i %></h3>


<% if @secret == params[:secret_pick].to_i %> 
    <h1> You correctly guessed the secret number <%= @secret %>! </h1>

<% else %>

    <h1><a class="guess" href="/secret">Guess again!</a></h1>

<% end %>