<h1>New band</h1>

<form action="/bands" method="post">
    <label>
        Name:
        <input name="name" placeholder="Yeah Yeah Yeahs" required>    
    </label>

     <label>
        Country of origin:
        <input name="country" placeholder="USA">    
    </label>

    <label>
        Image:
        <input type="URL" name="image" placeholder="http://...">
        
    </label>

    <button>Create band</button>
</form>

