
<form action="/scissorspaperrock/results">
   <div>
   <%# What's your choice? %>
    <p>
        <input name="select" placeholder="Rock paper or scissors?" required>
    </p>
    <button>Throw!</button>
   </div>
</form>