<h1>ROCK PAPER SCISSORS</h1>

<form action="/rps/:throw">
    <label>
    choose one:
        <button value="1">Rock</button>
        <button value="2">Paper</button>
        <button value="3">Scissors</button>
    </label>
</form>