<h2>Rocks Paper Scissors</h2>

<form action="/rockpaperscissors/results">

  <label>
    Choose from:
    <select name="throw">
      <option value="Rock">Rock</option>
      <option value="Paper">Paper</option>
      <option value="Scissors">Scissors</option>
    </select>
  </label>

  <button>Send your choice</button>

</form>