<h1>Secret number is coming</h1>
<p>Please add a number between 1 to 10</p>

<form action="/secret/result">
    <label>
        <input type="number" max="10" name="secret_num" placeholder="Write your number" required>
    </label>
    <button>check it out</button>
</form>