body {
    background-color: limegreen;    
}

.container {
    margin:0 auto;
    max-width: 960px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1em;
    min-height: 90vh; /* 90% of the entire window*/

}