<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Search</title>
</head>
<body>
    <h1>Pokemon Search</h1>
    <form action="/result">
        <label>
            Enter a Pokemon:
            <input name="search" >
        </label>
        <button>Search</button>
    </form>
</body>
</html>