/* *{
    border: 1px solid red;
} */
body{
    background-color: #222;
    margin: 0;
    padding: 0;
    background-image: url(icons/WallpaperDog-20462424.jpg);
    background-size: cover;
    background-position: center;
}
h1{
    text-align: center;
    background-color:#222;
    color: #ccc;
    font-size: 300%;
    padding: 0.5em;
    text-transform: uppercase;
}
.grid-container{
    background:#eee;
    max-width: 960px;
    position: relative;
    margin:0 auto;
    padding: 3em;
}
.grid-item-1{
    font-family: 'Press Start 2P', cursive;
    display: grid;
    margin-bottom: 10px;
}
.grid-container div{
    /* background: #ddd; */
    padding: 1em;
}
.grid2{
    margin: 0 auto;
    display: grid;
    grid-template-columns:1fr 1fr 1fr ;
    grid-auto-rows:minmax(100px, auto);
    grid-gap: 1em;
    justify-items: stretch;
    align-items:stretch;
    font-family: 'Share Tech', sans-serif;
}
.box2{
    background-image:url(./icons/funnyicons/Rectangle\ 2.png);
    background-position: center;
    background-size: cover;
    height: 150px;
    width: 250px;
}
.box4{
    background-image:url(./icons/funnyicons/Rectangle\ 3.png);
    background-position: center;
    background-size: cover;
    height: 180px;
    width: 250px;
}
.box6{
    background-image:url(./icons/funnyicons/Rectangle\ 4.png);
    background-position: center;
    background-size: cover;
    height: 180px;
    width: 250px;
}


