<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOOKS</title>
</head>
<body>

    <form action="/result">
        <label>
            ENTER BOOK TITLE HERE:
            <input type="text" name="book" placeholder="Harry Potter" required>
        </label>

        <button>Find Book</button>
            
    </form>
    
</body>
</html>