<h1>New mountain</h1>

<form action="<%= mountains_path %>" method="post">
    <label>
        Name:
        <input type="text" name="name" required>
    </label>
    <label>
        Image:
        <input type="url" name="image">
    </label>
    <label>
        Country:
        <input type="text" name="country">
    </label>
    <label>
        Elevation:
        <input type="number" name="elevation">
    </label>
    <label>
        First_ascent:
        <input type="text" name="first_ascent">
    </label>  
    <button>Create Mountain</button>
</form>