<div class="input">

<h2>Add Cheese</h2>

<form action="/cheeses" method="post">
    <p>
        <label>
            Variant:
                <input name="variant" placeholder="Brie" required>
        </label>
    <p>
    <p>
        <label>
            Cheese Type:
                <input name="wineType" placeholder="Soft" required>
        </label>
    </p>
    <p>
        <label>
            Country:
                <input name="country" placeholder="France" required>
        </label>
    </p>
    <p>
        <label>
            Wine Pairing:
                <input name="winePairing" placeholder="Rose" required>
        </label>
    </p>
    <p>
        <label>
            Image: 
                <input name="image" type="url" placeholder="http://..."> 
        </label>
    </p>
    <p>
        <button>Add to List</button>
    </p>

</form>
</div>