<div class="input">

<h2>Add Wine</h2>

<form action="/wines" method="post">
    <p>
        <label>
            Variant:
                <input name="variant" placeholder="Chardonnay" required>
        </label>
    <p>
    <p>
        <label>
            Wine Type:
                <input name="wineType" placeholder="Red" required>
        </label>
    </p>
    <p>
        <label>
            Ingredient:
                <input name="ingredient" placeholder="Grapes" required>
        </label>
    </p>
    <p>
        <label>
            Cheese Pairing:
                <input name="cheesePairing" placeholder="Brie" required>
        </label>
    </p>
    <p>
        <label>
            Image: 
                <input name="image" type="url" placeholder="http://..."> 
        </label>
    </p>
    <p>
        <button>Add to List</button>
    </p>

</form>
</div>