<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trash Anime List</title>
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <nav>
        <ul>
           <li> <a href="/animes">All Trash Anime</a></li>
           <li> <a href="/animes/new">New Trash Anime</a></li>
        </ul>
        </nav>
        <%= yield %>
    </div>
</body>
</html>