<h1>Welcome to magic 8 ball</h1>

<h2>Write your question</h2>

<form action="/result">
    <label>
        <input name='question' placeholder='write your question' required>

    </label>

    <button>Submit</button>

</form>