body {
    background-color: rgba(233, 236, 226, 0.935);
}

.container {
    max-width: 960px;
    margin: auto;
}

.thumb {
    height: 12em;
}

.feature {
    max-height: 60px;
    margin: 0 auto;
}
nav {
    margin-left: 20em;
}