<h1>Random number results!</h1>

<%if @usernumb == @randomnumb %>
    User wins!!! both selected <%=@usernumb%>
<%else%>
    Computer wins!!! you selected <%=@usernumb%> and computer chose <%=@randomnumb%>
<%end%>    