<h1 class="title_new">new movie to the gallery</h1>

<form action="/" method="post">
    <label>
        MOVIE:
        <input name="name" placeholder="Ghostbusters" required>
    </label>

    <label>
        YOUR RATING:
        <input name="rate" placeholder="Enter a number between 1..10">
    </label>

    <label>
        WATCH IN THE YEAR OF:
        <input name="year_watched" placeholder="1984">
    </label>

    <label>
        COMMENTS:
        <input name="comments" placeholder="Very funny">
    </label>

    <div class="button">
        <button>ADD NEW MOVIE</button>
    </div>
</form>