<h1 class="title_new">new movie to the gallery</h1>

<form action="/" method="post">
    <label class="label">MOVIE:</label>
        <input name="name" placeholder="Ghostbusters" required>

    <label class="label">YOUR RATING:</label>
        <input name="rate" placeholder="Enter a number between 1..10">

    <label class="label">WATCH IN THE YEAR OF:</label>
        <input name="year_watched" placeholder="1984">

    <label class="label">COMMENTS:</label>
        <input name="comments" placeholder="Very funny">


    <div class="button">
        <button>ADD NEW MOVIE</button>
    </div>
</form>