<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Board Games</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Board Games</h1>
    <nav>
    <a href="/">Home</a>
    <a href="/boardgames">Gallery</a>
    <a href="/boardgames/add">Add Boardgame</a>
    </nav>

    <%= yield %>
</body>
</html>