@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
body {
    background-color: #2222;
    font-family: 'Alice', serif;
    margin: auto;
    padding: 20px;
    border-left: 1em;
    border-right: 1em;
    text-shadow: 1px 1px 1px burlywood;
    letter-spacing: 1px;
    color: solid black;
    word-spacing: 1px;
    font-size: 20px;
}

.container { 
    text-align: center;
}

nav {
    text-align: right;
    word-spacing: 1em;
    
}

a:link {
    display: block;
    padding: 4px;
}

nav a {
    text-decoration: none;
}

main {
    text-align: center;
}
main img {
    display: block;
    margin: auto;
    box-shadow: 60px 60px 60px black;
    border-radius: 1em;

}
